@import "tailwindcss";

body {
  font-family: "Carter One", system-ui;
  font-weight: 100;
  font-style: normal;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
